<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Financial Assistant</title>
    <!-- Google Fonts Link For Icons -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <script src="{% static 'js/home.js' %}" defer></script>
</head>
<body>
    <header>
        <h2>Personalized Financial Assistant</h2>

        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>

            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url '' %}">Dashboard</a></li>
                <li><a href="">About us</a></li>
                <li><a href="{% url 'help' %}">Contact us</a></li>
            </ul>
            <button class="login-btn">SignIn</button>
        </nav>
    </header>
    <div class="blur-bg-overlay"></div>
    <div class="form-popup">
        <span class="close-btn material-symbols-rounded">close</span>
        <div class="form-box login">
            <div class="form-details">
                <h2>Welcome Back</h2>
                <p>Please log in using your personal information to stay connected with us.</p>
            </div>
            <div class="form-content">
                <h2>SIGNIN</h2>
                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <a href="{% url 'password_reset' %}" class="forgot-pass-link">Forgot password?</a>
                    <button type="submit">Log In</button>
                </form>
                <div class="bottom-link">
                    Don't have an account?
                    <a href="{% url 'signup' %}" id="signup-link">Signup</a>
                </div>
            </div>
        </div>
        <div class="form-box signup">
            <div class="form-details">
                <h2>Create Account</h2>
                <p>To become a part of our community, please sign up using your personal information.</p>
            </div>
            <div class="form-content">
                <h2>SIGNUP</h2>
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="email" required>
                        <label>Enter your email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password1" required>
                        <label>Create password</label>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" id="policy" name="policy" required>
                        <label for="policy">
                            I agree to the
                            <a href="" class="option">Terms & Conditions</a>
                        </label>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
                <div class="bottom-link">
                    Already have an account?
                    <a href="signin" id="login-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
