
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Personalized Financial Assistant</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <body>
        <!-- Navigation Bar -->
        <h3> Welcome to Personalized Financial Assistant </h3>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href=" ">Dashboard</a></li>
                <li><a href=" ">About</a></li>
                <li><a href=" ">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'signout' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'signin' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>

        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dimension fade show" role="alert">
            <strong>  </strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
            <h3> Hello, {{ fname }} </h3>
            <h4> You're successfully logged in. </h4>
        {% else %}

            <p>Please log in to access your dashboard.</p>

        {% endif %}
        <div class="container">
            <img src="https://cdn.corporatefinanceinstitute.com/assets/ai-for-financial-analysis-1.jpeg" alt="AI for Financial Analysis" class="image">
                <div class="content">
                    <h1>About Our Application</h1>
                    <p>
                        Our application leverages advanced AI technologies to enhance financial analysis and decision-making.
                        With real-time data processing and intuitive dashboards, we empower users to make informed financial decisions with ease.
                    </p>

                </div>
        </div>

        <script src="" async defer></script>
    </body>
</html>
